<html>
  <body>
    <h1>Sign Up</h1>
    <form method="post" action="/signup">
      <fieldset class="name">
        {{ form.name.label }} {{ form.name(placeholder="Codey Ninja") }}
      </fieldset>

      <fieldset class="email">
        {{ form.email.label }} {{ form.email(placeholder="youemail@example.com")
        }}
      </fieldset>

      <fieldset class="password">
        {{ form.password.label }} {{ form.password }}
      </fieldset>

      <div class="submit-button">{{ form.submit }}</div>
    </form>

    <div class="login-signup">
      <div>
        <span>Already have an account?</span>
        <a href="{{ url_for('login') }}">Login</a>
      </div>
    </div>
  </body>
</html>
